# ============================================
# RPA Simulate Process - Dependencies
# ============================================

# Core Robot Framework
robotframework>=6.1.1
rpaframework==27.7.0
robotframework-pythonlibcore
importlib-metadata>=6.0.0
rpa-runner==0.1.4
# FastAPI Server
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pydantic>=2.0.0

# WebSocket & Socket.IO
python-socketio>=5.10.0
websocket-client>=1.7.0

# HTTP Client
requests>=2.31.0
httpx>=0.26.0

# Utilities
python-dotenv>=1.0.0
python-multipart>=0.0.6

# ============================================
# RPA Framework Extensions
# ============================================
rpaframework-google
rpaframework-aws
rpaframework-pdf

# ============================================
# Custom EduRPA Packages
# ============================================
edurpa-document
packaging==23.2
edurpa-cloud

# ============================================
# Custom RPA Packages
# ============================================
rpa-sap-mock-bk
rpa-moodle
rpa-erpnext

